---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on 
  <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

## 📘 Journal Articles

{% for post in site.publications %}
  {% if post.category == "journals" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

---

## 🎤 Conference Papers

{% for post in site.publications %}
  {% if post.category == "conferences" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

---

## 📄 Other Publications

{% for post in site.publications %}
  {% if post.category != "journals" and post.category != "conferences" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
